{% block head %}
    <title>{{sysSettings.siteName}} - {{stream.streamName}}</title>
    <script src="/static/vendor/jquery/js/jquery-3.5.1.min.js"></script>
    <script src="/static/vendor/videojs/js/video.js"></script>
    <script src="/static/vendor/videojs-contrib-quality-levels/js/videojs-contrib-quality-levels.js"></script>
    <link href="/static/vendor/videojs/css/video-js.css" rel="stylesheet">
    <link href="/static/vendor/videojs-http-source-selector/videojs-http-source-selector.css" rel="stylesheet">
    <script src="/static/vendor/videojs-http-source-selector/videojs-http-source-selector.js"></script>
    <script src="/static/vendor/socketio/js/socket.io.js"></script>
    <script src='/static/vendor/strophe/js/strophe.min.js' type="text/javascript"></script>
    <script src='/static/vendor/strophe/js/strophe.disco.js' type="text/javascript"></script>
    <script src="/static/vendor/strophe/js/strophe.muc.min.js" type="text/javascript"></script>
    <script src="/static/vendor/strophe/js/strophe.vcard.min.js" type="text/javascript"></script>
    <script src="/static/vendor/strophe/js/strophe.ping.js" type="text/javascript"></script>

    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
{% endblock %}

{% block body %}
<div class="">
      <div class="container-fluid">
          <div class="row justify-content-md-center">
              <div class="col-xl-12 col-sm-12">
                  <div class="player">
                      <div id="videoContainer">
                        <video id="video" class="shadow videoStream video-js vjs-big-play-centered" poster="{{channel.channelLoc}}.png" {% if isAutoPlay == True %}autoplay{% endif %} controls playsinline preload="auto" data-setup='{"fluid": true}'>
                            <source src="{{streamURL}}" type="application/x-mpegURL">
                            <p class="vjs-no-js">
                              To view this video please enable JavaScript, and consider upgrading to a web browser that
                              <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                        </video>
                      </div>
                      <div id="offlineImage" style="display:none;">
                        <img class="videoStream shadow" style="width:100%;" {% if channel.offlineImageLocation != None %} src="/images/{{channel.offlineImageLocation}}" {% else %} src="/static/img/video-placeholder.jpg" {% endif %}>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>


{% endblock %}

{% block scripts %}



    <script>

        var $ = jQuery;

        var player = videojs('video', {
            autoplay: {{isAutoPlay}},
            errorDisplay: false,
            liveui: true,
            liveTracker: {
                trackingThreshold: 5,
                liveTolerance: 15
            },
            html5:
                {
                    nativeAudioTracks: false,
                    nativeVideoTracks:false,
                    hls:
                        {
                            overrideNative: true
                        }
                },
            plugins : {
                httpSourceSelector: {
                    default: 'auto'
                }
            }
        });

        qualityLevels = player.qualityLevels();
        httpSelector = player.httpSourceSelector();

        player.ready(function() {
               this.src({
                       src: '{{streamURL}}',
                       type: 'application/x-mpegURL'
               });
       });

       player.play();

    </script>

    <script>
        $(document).ready( function () {
            monitor_vid(player);
        });
    </script>


<script>
    //Fixes for VideoJS on Disconnect to Force a Reconnect when the readyState is stuck at 2
    function monitor_vid(vidplayer){


        videoJSObj = vidplayer;
        currentReadyState = videoJSObj.readyState();

        videoWindowState = document.getElementsByTagName('video');

        videoContainer = document.getElementById('videoContainer');
        offlineWindow = document.getElementById('offlineImage');


        $.getJSON('/apiv1/channel/{{channel.channelLoc}}', function(data) {
            var channelList = data['results'][0];
            var streamIDList = channelList['stream'];

            if (streamIDList.length > 0) {
                var currentStreamID = streamIDList[0];

                videoContainer.style.display = "block";
                offlineWindow.style.display = "none";

                if (currentReadyState <= 2) {
                    try {
                        videoJSObj.reset();
                        videoJSObj.src('{{streamURL}}');
                        videoJSObj.pause().trigger('loadstart');
                        videoJSObj.play();
                    } catch (e) {
                        console.log("OSP tried restarting the stream but had an issue:" + e)
                    }
                }

            } else {
                try {
                    videoJSObj.pause();
                    videoJSObj.reset();

                    videoContainer.style.display = "none";
                    offlineWindow.style.display = "block";

                } catch(e) {
                    console.log("OSP tried restarting the stream but had an issue:" + e)
                }
            }
        });
        var lastVideoState = currentReadyState;
    }

    setInterval(function() {
        monitor_vid(player);
    }, 10000);
    </script>

    <script type="text/javascript" charset="utf-8">
        var conn_options = {
            'sync disconnect on unload':true
        };

        var socket = io("/", {reconnection: true, forceNew: false});
    </script>

    <script>
        socket.on('connect', function() {
            socket.emit('newViewer', {data: '{{channel.channelLoc}}'});
        });
    </script>

    <script>
        socket.on('disconnect', function() {
            socket.emit('removeViewer', {data: '{{channel.channelLoc}}'});
        });
    </script>


    <script>
        window.addEventListener("beforeunload", function (e) {
            socket.emit('removeViewer', {data: '{{channel.channelLoc}}'});
            return null;
        });
    </script>

<script>
        // Settings and Event Hooks for XMPP
        {% if current_user.is_authenticated %}
        var username = "{{current_user.username}}";
        var xmppPassword = "{{current_user.xmppToken}}";
        {% else %}
        var username = "Guest" + (Math.floor(Math.random() * 50000) + 1).toString();
        var xmppPassword = "fakepw";
        {% endif %}
        var serverproto = '{{sysSettings.siteProtocol}}';
        var server = '{{sysSettings.siteAddress}}';
        var BOSH_SERVICE = serverproto + server + '/http-bind/';
        var ROOM_SERVICE = 'conference.' + server;
        var ROOMNAME = '{{channel.channelLoc}}';
        var CHANNELPROTECTED = {{channel.protected|lower}};
        {% if channel.protected %}
        var CHANNELTOKEN = '{{channel.xmppToken}}';
        {% else %}
        var CHANNELTOKEN = null;
        {% endif %}
        var CHATSTATUS = {jid: null, username: null, role:null, affiliation: null, muteList: [] };

        // Start Connection on Load
        $(window).bind('load', function() {
            var url = BOSH_SERVICE;
            connection = new Strophe.Connection(url);
            connection.rawInput = rawInput;
            connection.rawOutput = rawOutput;
            connection.connect(username.toLowerCase() + '@' + server, xmppPassword, onConnect);
        });

        // Disconnect XMPP on Page Unload
        $(window).bind('unload', function(){
              // Leave Room First
              exitRoom(ROOMNAME + '@' + ROOM_SERVICE);
              // Execute XMPP Disconnection Process
              connection.options.sync = true; // Switch to using synchronous requests since this is typically called onUnload.
              connection.flush();
              connection.disconnect();
              // Disconnect from SocketIO
              socket.emit('removeViewer', {data: '{{channel.channelLoc}}'});
              socket.close();
        });

        function rawInput(data) {
          console.log('RECV: ' + data);
        }

        function rawOutput(data) {
          console.log('SENT: ' + data);
        }

        // Function for Handling XMPP Connection, Joining a Room, and Initializing Intervals
        function onConnect(status) {
          if (status == Strophe.Status.CONNECTING) {
            console.log('Connecting to XMPP Server...');
          } else if (status == Strophe.Status.CONNFAIL) {
            console.log('Connection to XMPP Server Failed...');
            $('#connect').get(0).value = 'connect';
          } else if (status == Strophe.Status.DISCONNECTING) {
            console.log('Disconnecting from XMPP Server...');
          } else if (status == Strophe.Status.DISCONNECTED) {
            console.log('Disconnected from XMPP Server...');
          } else if (status == Strophe.Status.CONNECTED) {
            console.log('Connected to XMPP Server.');
            fullJID = connection.jid; // full JID
            // set presence
            connection.send($pres());
            // set handlers
            connection.addHandler(onSubscriptionRequest, null, "presence", "subscribe");
            connection.addHandler(onPresence, null, "presence");
            connection.disco.addFeature(Strophe.NS.PING);
            connection.ping.addPingHandler(onPing);
            enterRoom(ROOMNAME + '@' + ROOM_SERVICE);
            CHATSTATUS['jid'] = fullJID;
            chatDataUpdate = setInterval(statusCheck, 5000);
            return true;
          }
        }

        function onPing(ping) {
            connection.ping.pong(ping);
            return true;
        }

        function onSubscriptionRequest(stanza) {
          if (stanza.getAttribute("type") == "subscribe") {
            var from = $(stanza).attr('from');
            log('onSubscriptionRequest: from=' + from);
            // Send a 'subscribed' notification back to accept the incoming
            // subscription request
            connection.send($pres({
              to: from,
              type: "subscribed"
            }));
          }
          return true;
        }

        function onPresence(presence) {
          log('onPresence:');
            // disco stuff
            if (connection.disco) {
                connection.disco.info(fullJID)
                connection.disco.identity('client', 'web', 'OSP Webchat', 'en');
            }
          var presence_type = $(presence).attr('type'); // unavailable, subscribed, etc...
          var from = $(presence).attr('from'); // the jabber_id of the contact
          if (!presence_type) presence_type = "online";
          log(' >' + from + ' --> ' + presence_type);
          if (presence_type != 'error') {
            if (presence_type === 'unavailable') {
              // Mark contact as offline
            } else {
              var show = $(presence).find("show").text(); // this is what gives away, dnd, etc.
              if (show === 'chat' || show === '') {
                // Mark contact as online
              } else {
                // etc...
              }
            }
          }
          return true;
        }

        function enterRoom(room) {
          console.log('Connecting to: ' + room);
          connection.muc.init(connection);
          if (CHANNELPROTECTED) {
              connection.muc.join(room, username, null, null, null, CHANNELTOKEN);
          } else {
              connection.muc.join(room, username, null, null, null);
          }
          connection.muc.setStatus(room, username + '@' + server, 'subscribed', 'chat');
          console.log('Connected to: ' + room);
          return true;
        }

        // Update CHATSTATUS Variable with JID, Username, Role, & Affiliation
        function statusCheck() {
          var roomsData = connection.muc.rooms[ROOMNAME + '@' + ROOM_SERVICE];

          CHATSTATUS['username'] = roomsData.nick;
          var presumedUserObj = roomsData.roster[CHATSTATUS['username']];
          if (presumedUserObj != undefined) {
              if (presumedUserObj.jid === CHATSTATUS['jid']) {
                  CHATSTATUS['affiliation'] = presumedUserObj.affiliation;
                  CHATSTATUS['role'] = presumedUserObj.role;
              }
          } else {
              CHATSTATUS['affiliation'] = "none";
              CHATSTATUS['role'] = "none";
          }
          return true;
        }

        function exitRoom(room) {
          console.log("Left Room: " + room);
          connection.muc.leave(room, username + '@' + server, null, null);
        }


    </script>



{% endblock %}